<h1>Login</h1>
<form action="/login" method="post">
    <input type="email" name="userEmail" placeholder="email">
    <input type="password" name="userPassword" placeholder="password">
    <input type="submit"> 
</form>