
@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base{
  *{
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

    
  form > div {
    @apply flex flex-col gap-2;
  }

  input, textarea{
    @apply shadow-md px-6 py-2 border border-slate-300;
  }

  @font-face {
    font-family: "Gilroy_md";
    src: url("/font/GILROY MEDIUM.OTF");
  
  }
  @font-face {
    
    font-family: "Gilroy_bd";
    src: url("/font/GILROY BOLD.OTF");
  
  
  }
  @font-face {
  
    font-family: "Gilroy_sb";
    src: url("/font/GILROY SEMIBOLD.OTF");
  
  }

}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}






input:focus {
  background-color: transparent;
  outline:none;
  padding: 0%;
  border-bottom: 2px solid #27219A;
}

input {
  outline:none;
  border: none;
  padding: 0%;
  background-color: transparent;
  border-bottom: 2px solid hsl(243, 57%, 79%);
}

.button_yellow:hover{
  border: #F2B547 solid;
  border-width: 3px;
  background-color: white;
  text-emphasis-color: #27219A;
  font-family: Gilroy_sb ;
  border-radius: 40px;
}

.button_yellow {
  border: #F2B547 solid;
  border-width: 3px;
  background-color: #F2B547;
  border-radius: 40px;
  text-emphasis-color: #27219A;
  font-family: Gilroy_sb ;
}

.button_white{
  border: #F2B547 solid;
  border-width: 3px;
  background-color: white;
  text-emphasis-color: #27219A;
  border-radius: 40px;
  font-family: Gilroy_sb;
  font-size: 20px;
}

.button_white:hover{
  border: #F2B547 solid;
  border-width: 3px;
  background-color: #F2B547;
  border-radius: 40px;
  text-emphasis-color: #27219A;
  font-family: Gilroy_sb;
  font-size: 20px;
}

.button_red{
  border: #F06966 solid;
  border-width: 3px;
  background-color: #F06966;
  text-emphasis-color: #FFFFFF;
  border-radius: 40px;
  font-family: Gilroy_sb;
}

.button_red:hover{
  border: #F06966 solid;
  border-width: 3px;
  background-color: transparent;
  border-radius: 40px;
  text-emphasis-color: #FFFFFF;
  font-family: Gilroy_sb;
}